# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# Jupyter / IPython
.ipynb_checkpoints/
.profile_default/
.ipython/

# Environment variables
.env
.env.*

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Logs & temp files
*.log
*.tmp
*.bak

# Data files 
data/

